input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #7c1ddc;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}


.login-form {
    min-height: 200px;
    min-width: 350px;

    background-color: aliceblue;
    opacity: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form form {
    width: 100%;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-form input {
    width: 100%;
    height: 30px;
    border: 1px #8f73aa solid;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    padding: 8px;
}
.login-form span {
    height: 13px;
    font-size: 11px;
    color: crimson;
    margin-top: -15px;
    align-self: flex-start;
    margin-bottom: 5px;
}

.login-form button {
    min-width: 120px;
    height: 30px;
    cursor: pointer;
    background-color: #7c1ddc;
    border: none;
    border-radius: 5px;
    color: white;
    align-self: flex-start;
}

.login-form button:hover {
    background-color: white;
    color: #7c1ddc;
    border: 1px #7c1ddc solid;
}

.login-form a {
    color: #7c1ddc;
    font-size: 12px;
    text-decoration: none;
}

.login-form h1 {
    margin: 0;
}

.login-form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}