* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.page {
    max-width: 1440px;
    height: 90vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}